<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h1>Հետադարձ կապ</h1>

        <span> Անուն։ </span> <span><%=name%></span>

        <br/>

        <span> Հեռախոսահամար։ </span> <span><%=phone%></span>

        <br/>

        <span> Էլ։ հասցե. </span> <span><%=email%></span>
        <br/>

        <h3 style="color: #ff0000">Հաղորդագրություն</h3>
        <pre><%=message%></pre>
    </body>
</html>