#about-programming {
  color: #fff;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  min-height: 500px;
  display: grid;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
#about-programming:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#22222277 -100%, #222);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#about-programming video {
  filter: blur(5px);
}
#about-programming h1 {
  font-size: 2em;
  position: relative;
  z-index: 2;
}
#courses-background {
  background: #222222 url(images/background.svg) no-repeat center bottom;
  box-shadow: inset 0px -15px 25px -10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  position: relative;
  top: 0;
  background-size: cover;
  padding-bottom: 50px;
}
#main-courses,
#secondary-courses {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  align-items: flex-start;
  justify-content: space-between;
}
#main-courses#main-courses,
#secondary-courses#main-courses {
  padding-bottom: 100px;
}
#main-courses#main-courses > a > h1,
#secondary-courses#main-courses > a > h1 {
  border-bottom: 5px solid #00000055;
}
#main-courses#secondary-courses,
#secondary-courses#secondary-courses {
  padding-top: 0;
}
#main-courses#secondary-courses > a > h1,
#secondary-courses#secondary-courses > a > h1 {
  border-bottom: 5px solid #00000055;
}
#main-courses > a,
#secondary-courses > a {
  color: inherit;
  display: block;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: 0.15s;
  position: relative;
}
#main-courses > a:hover,
#secondary-courses > a:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
#main-courses > a:active,
#secondary-courses > a:active {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
}
#main-courses > a > h1,
#secondary-courses > a > h1 {
  padding: 15px;
  font-size: 1.1em;
  color: #fff;
}
#main-courses > a > img,
#secondary-courses > a > img {
  height: 105px;
  padding: 30px 0;
  box-sizing: content-box;
}
#main-courses > a > p,
#secondary-courses > a > p {
  position: absolute;
  background: #0000008f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ffffff80;
}
#main-courses > a#web > h1,
#secondary-courses > a#web > h1 {
  background-image: var(--front-end);
}
#main-courses > a#java > h1,
#secondary-courses > a#java > h1 {
  background-image: var(--java);
}
#main-courses > a#android > h1,
#secondary-courses > a#android > h1 {
  background-image: var(--android);
}
#main-courses > a#csharp > h1,
#secondary-courses > a#csharp > h1 {
  background-image: var(--csharp);
}
#main-courses > a#cplusplus > h1,
#secondary-courses > a#cplusplus > h1 {
  background-image: var(--cplusplus);
}
#main-courses > a#python > h1,
#secondary-courses > a#python > h1 {
  background-image: var(--python);
}
#main-courses > a#ml > h1,
#secondary-courses > a#ml > h1 {
  background-image: var(--ml);
}
#main-courses > a#ios > h1,
#secondary-courses > a#ios > h1 {
  background-image: var(--ios);
}
#main-courses > a#programming_basics > h1,
#secondary-courses > a#programming_basics > h1 {
  background-image: var(--programming_basics);
}
#main-courses > a#ui_ux > h1,
#secondary-courses > a#ui_ux > h1 {
  background-image: var(--ui_ux);
}
#main-courses > a#qa > h1,
#secondary-courses > a#qa > h1 {
  background-image: var(--qa);
}
#main-courses > a#seo > h1,
#secondary-courses > a#seo > h1 {
  background-image: var(--seo);
}
#main-courses > a#project_management > h1,
#secondary-courses > a#project_management > h1 {
  background-image: var(--project_management);
}
#main-courses > a#it_english > h1,
#secondary-courses > a#it_english > h1 {
  background-image: var(--it_english);
}
#main-courses > a#algorithms > h1,
#secondary-courses > a#algorithms > h1 {
  background-image: var(--algorithms);
}
/*# sourceMappingURL=courses.css.map */